<h1><%= @user.name %> さんとのチャット</h1>
<table class="table">
  <tr>
    <th>Sender</th>
    <th>Message</th>
  </tr>
  <% @messages.each do |message| %>
  <% if (message.sender == @user || message.sender == current_user) && \
        (message.recipient == @user || message.recipient == current_user) %>
  <tr>
    <td>
      <%= message.sender.name %>
    </td>
    <td>
      <%= raw(h(message.body).gsub(/\R/, "<br>")) %>
  </tr>
  <%end%>
  <% end %>
</table>
<%= form_with model: [@user, @message], id: "form_message" do |f| %>
  <%= f.text_area :body, rows: "3", class: "form-control col-lg-5 m-3", placeholder: "⌘ Enter (Mac) または Ctrl Enter (Windows) で送信" %>
  <% f.submit %>
<% end %>
<script>
$("textarea").keydown(function(e){
    // Enter was pressed without shift key
    if (e.keyCode == 13 && !e.shiftKey && (e.metaKey || e.ctrlKey))
    {
      // prevent default behavior
      // e.preventDefault();
      document.getElementById("form_message").submit();
    }
});
</script>
