<h1><%= @user.name %> さんとのチャット</h1>
<table class="table">
  <tr>
    <th>User</th>
    <th>Message</th>
  </tr>
  <% @messages.each do |message| %>
  <tr>
    <td>
      <%= message.user %>
    </td>
    <td>
      <%= message.body %>
  </tr>
  <%end%>
</table>
<%= form_with model: [@user, @message] do |f| %>
  <%= f.text_area :body, rows: "1", class: "form-control col-lg-3" %>
<% end %>
