<% if users.exists? %>
  <table class='table'>
    <thead>
      <tr>
        <th>image</th>
        <th>name</th>
        <th>follows</th>
        <th>followers</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% users.each do |user| %>
        <tr>
          <td>
            <%= image_tag user.get_profile_image, size: '50x50' %>
          </td>
          <td>
            <%= user.name %>
          </td>
          <td>
            フォロー数:<%= user.followings.count %>
          </td>
          <td>
            フォロワー数:<%= user.followers.count %>
          </td>
          <td>
            <%# 一覧表示対象ユーザとログインユーザが一致する行はフォロー/フォロー解除ボタン非表示  %>
            <% if user != current_user %>
              <%= render 'relationships/btn', user: user %>
            <% end %>
          </td>
          <td>
            <%= link_to 'Show', user %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>ユーザは存在しません</p>
<% end %>
